@import '../../styles/variables.scss';

// input normal
.inputForm {
    border: 1px solid $color-grey;
    border-radius: 3px;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;

    .inputView {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 16px;
    }
}

// text area 
.textAreaForm {
    border: none;
    outline: none;
    border: 1px solid $color-black;
    border-radius: 3px;
    padding: 10px 10px;

    .textAreaView {
        width: 100%;
        height: 100%;
        min-height: 200px;
        border: none;
        outline: none;
        font-size: 16px;
    }
}

// date picker
.datePicker {
    display: flex;
    border: 1px solid $color-black;
    padding: 10px 10px;
    border-radius: 3px;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    .dateView {
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        padding-right: 50px;
        box-sizing: border-box;
        font-size: 16px;
    }

    .iconCalender {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $color-black;

        svg {
            height: 20px;
            width: 20px;
            color: $color-black;
        }
    }
}

// select box
.selectBoxForm {
    border: 1px solid $color-black;
    padding: 10px 10px;
    border-radius: 3px;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    .selectBoxView {
        width: 100%;
        height: 100%;
        font-size: 16px;
        border: none;
        outline: none;
    }
}

.labelView {
    margin-bottom: 10px;

    .label {
        font-size: 16px;
        font-weight: bold;
        color: $color-black;
    }
}

.showError {
    border: 1px solid $color-red;
}

.errorMess {
    margin-top: 5px;
    height: 20px;
}


