@import './variables.scss';

// reset css 
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

// main content 
.main-content {
    max-width: 1400px;
    margin: 0 auto;
}

.text-red {
    color: $color-red;
}

// loading
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(7, 11, 250);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(25, 0, 251) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
