@import '../../styles/variables.scss';

.buttonReuse {
    outline: none;
    border: none;
    border-radius: 3px;
    color: $color-white;
    font-size: 18px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

// add button
.addBtn {
    background: $color-green;
}

// detail button
.detailBtn{
    background: $color-detail;
}

// remove button
.removeBtn{
    background: $color-red;
}

// done button
.doneBtn {
    background: $color-blue;
}