@import '/src/styles/variables.scss';


.wrapperNewTask {
    width: 40%;
    height: 100%;
    padding: 30px 40px;
    box-sizing: border-box;

    .title {
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 60px;
    }

    .formContent {
        .itemForm {
            margin-bottom: 10px;
        }

        .rowSelect {
            display: flex;
            justify-content: space-between;

            .itemRowForm {
                width: 47%;
            }
        }
    }
}