@import '../../../../styles/variables.scss';

.wrapperListTask {
    flex: 1;
    height: 100%;
    padding: 30px 40px;
    box-sizing: border-box;
    border-left: 1px solid $color-black;
    position: relative;
    padding-bottom: 85px;

    .title {
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    
    .listTask {
        margin-top: 20px;
        overflow: auto;
        max-height: 82%;

        .wrapperItemTask {
            margin-bottom: 30px;
        }
        .formDetail {
            border: 1px solid $color-black;
            padding: 30px 30px;
            border-top: none;

            .itemForm {
                margin-bottom: 10px;
            }
    
            .rowSelect {
                display: flex;
                justify-content: space-between;
    
                .itemRowForm {
                    width: 47%;
                }
            }
        }
    }


    .footerAction {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $color-black;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        background: $color-grey;

        .rightContent {
            display: flex;
            align-items: center;

            .btnAction {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

// item task
.itemTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: 1px solid $color-black;

    .leftContent {
        display: flex;
        align-items: center;
        margin-right: 15px;

        .titleTask {
            font-size: 18px;
            font-weight: 300;
            margin-left: 10px;
            color: $color-black;
        }
    }

    .rightContent {
        display: flex;
        align-items: center;

        .btnActive {
            margin-right: 25px;

            &:last-child {
                margin: 0;
            }
        }
    }
}

// input search
.inputSearchView {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $color-grey;
    border-radius: 3px;
    padding: 10px 10px;

    .input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 16px;
    }
}

// checkbox view
.checkBoxView {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-width: 25px;
    border: 1px solid $color-black;
    position: relative;
    cursor: pointer;
    color: $color-black;
}

// empty data
.emptyData {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100%;
    margin-top: 100px;

    img {
        width: 30%;
    }

    .title {
        font-size: 25px;
        color: $color-grey;
        margin-top: 30px;
    }
}