@import '/src/styles/variables.scss';


.wrapperHome {
    height: 85vh;
    display: flex;
    align-items: center;
    border: 1px solid $color-black;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.footer {
    height: 5vh;
    background: $color-grey;
    display: flex;
    align-items: center;
    justify-content: center;
}